version: '2'
services:

  vitimeo-charts-kafka:
    image: registry.biggis.project.de/demo/vitimeo-kafka
    environment:
      KAFKA_HOST: kafka.middleware
      PUSH_VITIMEO_DATA: charts
    labels:
      io.rancher.container.pull_image: 'always'
      io.rancher.container.start_once: true
    volumes:
      - kef-demo-data:/kef-demo-data:ro
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  vitimeo-maps-kafka:
    image: registry.biggis.project.de/demo/vitimeo-kafka
    environment:
      KAFKA_HOST: kafka.middleware
      PUSH_VITIMEO_DATA: maps
    labels:
      io.rancher.container.pull_image: 'always'
      io.rancher.container.start_once: true
    volumes:
      - kef-demo-data:/kef-demo-data:ro
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

volumes:
  kef-demo-data:
    driver: rancher-nfs
    external: true